.App {
  text-align: center;
  color: white;
  display: flexbox;
}

body {
  background-color: #282c34;
}

h1 {
  font-size: xx-large;
}

/* - Components - */

.App-header {
  background-color: #282c34;
  color: white;
  padding-left: 2rem;
  text-align: left;
}

.searchbar {
  background-color: white;
  margin: 0 15rem;
  color: black;
  padding: 10px;
  padding-bottom: 30px;
}

input {
  height: 2rem;
  width: 20rem;
}

.aggregate {
  font-size: 1rem;
  text-align: left;
  padding-left: 2rem;
  margin-top: 25px;
}

.playlist {
  background-color: white;
  color: black;
  height: 30px;
  text-align: left;
  padding-left: 1rem;
  margin-left: 1rem;
}
